<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="main">
      <div class="heading">
        <h1>WELCOME TO ELIYA EMPLOYMENT WORLD</h1>
      </div>
      <div class="container">
        <div>
          <button
            id="loginTab"
            class="tabButton"
            onclick="openTab('loginFo', 'loginTab')"
            style="background: black; color: #fff"
          >
            LOGIN
          </button>
          <button
            id="signUpTab"
            class="tabButton"
            onclick="openTab('signUpFrom', 'signUpTab')"
            style="background: none"
          >
            SIGNUP
          </button>
        </div>
        <form action="#" id="loginFo" class="loginForm">
          <h2>USER LOGIN</h2>
          <div class="inField">
            <input type="text" placeholder="Admin Name" required />
            <i class="uil uil-user icon"></i>
          </div>
          <div class="inField">
            <input type="password" placeholder="Password" required />
            <i class="uil uil-padlock icon"></i>
            <div class="pass-link">
              <div class="remCon">
                <input name="remember" id="remember" type="checkbox" />
                <label id="remember" for="remember">Remember</label>
              </div>
              <a class="forgetPass" href="#">Forget Password?</a>
            </div>
          </div>
          <button class="submitButton" type="submit">LOGIN</button>
          <div class="signup-link">Not a member? <a href="">Signup now</a></div>
        </form>
  </body>
</html>
